@model Projekt.Models.AssignmentTruck.AssignmentViewModel
@{
    ViewData["Title"] = "Lista Przypisań ciężarówek do kierowców";
}
@if(TempData["message"] !=null){
    <script>
        alert('@TempData["message"]');
    </script>
}
<div class="text-center">
    <h1 class="display-4">Lista przypisań ciężarówek do kierowców</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model ciężarówki</th>
                <th scope="col">Imię i nazwisko kierowcy</th>
                <th scope="col">Data przypisania</th>
                <th scope="col">Data zwrotu</th>
                <th scope="col">Czy zwrócono?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AssignmentTrucks)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Truck.Model</td>
                    <td scope="row">@item.User.FirstName @item.User.LastName</td>
                    <td scope="row">@item.AssignmentDate.ToShortDateString()</td>
                    <td scope="row">@item.ReturnDate.ToShortDateString()</td>
                    <td scope="row">@(item.IsReturned?"Zwrócono":"Nie zwrócono")</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center m-5">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Assignment" asp-action="AssignmentTrucks" role="button">Przypisz</a>
        <a class="btn btn-outline-warning" asp-area="" asp-controller="Assignment" asp-action="DeleteAssignment" role="button">Anuluj przypisanie</a>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Assignment" asp-action="ReturnAssignment" role="button">Zwróć ciężarówkę</a>
    </div>
</div>