@model Projekt.Models.Trailer.TrailerViewModel
@{
    ViewData["Title"] = "Usuwanie przyczep";
}
<div class="text-center mb-5">
    <h1 class="display-4">Lista przyczep</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model</th>
                <th scope="col">Marka</th>
                <th scope="col">Typ</th>
                <th scope="col">Maksymalne obciążenie</th>
                <th scope="col">Rok produkcji</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trailers)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Model</td>
                    <td scope="row">@item.Brand</td>
                    <td scope="row">@item.Type</td>
                    <td scope="row">@item.MaxLoad</td>
                    <td scope="row">@item.YearOfProduction</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<form method="delete" asp-controller="Trailers" asp-action="DeleteThisTrailer">
    <div class="form-group">
        <label for="Id">ID naczepy do usunięcia: <span style="color:red">*</span></label>
        <input type="number" class="form-control" id="Id" placeholder="ID naczepy" name="Id">

        <div class="text-center m-5">
            <button type="submit" class="btn btn-danger">Usuń</button>
            <a class="btn btn-outline-danger" href="javascript: history.go(-1)">Wróć</a>
        </div>
    </div>
</form>