@model Projekt.Models.Trailer.TrailerViewModel
@{
    ViewData["Title"] = "Lista przyczep";
}
@if (TempData["message"] != null)
{
        <script>
            alert('@TempData["message"]');
        </script>
}
<div class="text-center">
    <h1 class="display-4">Lista przyczep</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model</th>
                <th scope="col">Marka</th>
                <th scope="col">Typ</th>
                <th scope="col">Maksymalna ładowność</th>
                <th scope="col">Rok produkcji</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trailers)
            {
                    <tr>
                        <td scope="row">@item.Id</td>
                        <td scope="row">@item.Model</td>
                        <td scope="row">@item.Brand</td>
                        <td scope="row">@item.Type</td>
                        <td scope="row">@item.MaxLoad</td>
                        <td scope="row">@item.YearOfProduction</td>
                    </tr>
            }
        </tbody>
    </table>

    <div class="text-center m-5">
        <a class="btn btn-outline-success" asp-area="" asp-controller="Trailers" asp-action="InsertNewTrailer" role="button">Wprowadź nową przyczepe</a>
        <a class="btn btn-outline-warning" asp-area="" asp-controller="Trailers" asp-action="UpdateTrailer" role="button">Edytuj przyczepe</a>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Trailers" asp-action="DeleteTrailer" role="button">Usuń przyczepe</a>
    </div>


</div>
